$redes: (WhatsApp: blue,
    Facebook: rgb(86, 233, 50),
    Instagram: red,
);

.botonWhatsApp {
    color: map-get($map: $redes, $key: WhatsApp)
}

.botonFacebook {
    color: map-get($redes, Facebook)
}

.botonInstagram {
    color: map-get($map:$redes, $key: Instagram)
}

@for $i from 1 through 10 {
    .col-#{$i} {
        width: 10% * $i;
    }

}

@each $colorActual in green,
yellow,
black {
    .#{$colorActual} {
        color: #{$colorActual};
    }
}

//  @each $red,$color in $redes {
//      .boton#{$red} {
//          color: $color
//      }

//  }